.todo-list-item {
    font-size: 1.2rem;
    
}

.todo-list-item button {
    /* width: 45px; */
    margin: 3px;
  }

.important {
    font-weight: 700;
    color: rgb(17, 192, 25);
    font-style: italic;
}
.done {
    text-decoration: line-through;
    font-style: italic;
    color: red;
}